#number{
    display:block;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 8rem;
}

#btnContainer{
    text-align: center;
}

.btn{
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#decreaseBtn{
    background-color: hsl(0, 100%, 70%);
}
#decreaseBtn:hover{
    background-color: hsl(0, 100%, 60%);
}

#resetBtn{
    background-color: hsl(226, 100%, 70%);
}
#resetBtn:hover{
    background-color: hsl(226, 100%, 60%);
}

#increaseBtn{
    background-color: hsl(122, 100%, 75%);
}
#increaseBtn:hover{
    background-color: hsl(122, 100%, 60%);
}